* {
  font-family: 'Helvetica';
}
html {
  overflow-y: scroll;
}
.term,
.reading,
#kanji-list-input {
  font-family: 'Noto Sans JP', sans-serif;
}
#kanji-list-input,
#kanji-list-input:focus {
  padding: 0.5rem;
  border: 2px solid blueviolet;
  outline: none;
}
#main {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#kanji-list-input {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  min-width: 80vw;
  font-size: 1.25rem;
}
.freq {
  font-size: 0.75rem;
  margin-right: 1rem;
  display: inline-block;
  width: 4rem;
  text-align: right;
}
.term {
  font-size: 1.25rem;
}
.reading {
  font-size: 0.75rem;
  color: #6b6b6b;
}
.known {
  color: blueviolet;
  font-weight: 600;
}
#header {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  text-align: center;
}
#list {
  margin-top: 1rem;
}
#search {
  background-color: blueviolet;
  color: white;
  border-radius: 0.5rem;
  font-weight: 600;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border-width: 0;
  cursor: pointer;
}
#stats {
  margin-top: 1rem;
  font-size: 1.25rem;
  font-weight: 500;
  text-align: center;
}
#stats-note {
  margin-top: 0.25rem;
  font-size: 0.75rem;
  color: #6b6b6b;
  text-align: center;
}
#export-txt {
  margin-top: 0.5rem;
  font-size: 0.75rem;
  color: blueviolet;
  cursor: pointer;
}
#kanji-list-label {
  font-size: 1.25rem;
  font-weight: 600;
}
#filter {
  margin-bottom: 1rem;
}
.filter-item {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}
.filter-item label {
  flex: 1;
  padding-right: 1rem;
}
#other-kanji-count-input {
  text-align: right;
  width: 2rem;
}
#kanji-only-checkbox,
#contains-all-checkbox {
  accent-color: blueviolet;
}
#progress {
  margin-top: 0.75rem;
  accent-color: blueviolet;
  width: 200px;
}
